<% errors.forEach(function(messaage){ %>
<div class="alert alert-danger text-center"><%= messaage %></div>
<% }) %> 

<% success.forEach(function(messaage){ %>
<div class="alert alert-success text-center"><%= messaage %></div>
<% }) %>
